#change{
    color: white;
}

.zero-screen{
    background-color: tomato;
}

.first-screen{
    background-color: aqua;
}

.second-screen{
    background-color: bisque;
}

.third-screen{
    background-color: black;
}